<form action="/login" method="post">
    <div class="container" id="new">
        <div class="text-center">
            <img src="/images/poison-large.png" class="img-fluid" alt="Poison">
        </div>
        <label for="uname"><b>Username(email)</b></label>
        <input type="email" placeholder="Enter your email" name="user[email]" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="user[password]" required>

        <button class="signuplogin_botton" type="submit">Login</button>
    </div>
    <a href="/signup">Create account</a>
</form>

