<body class="signuplogin">
    <form class="signuplogin_form" action="/login" method="post">
        <div class="container">
            <div class="imgcontainer">
                <img src="/images/poison.jpeg" alt="Poison" width="200" height="200">
            </div>
            <label for="uname"><b>Username(email)</b></label>
            <input type="email" placeholder="Enter your email" name="user[email]" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="user[password]" required>

            <button class="signuplogin_botton" type="submit">Login</button>
        </div>
        <a href="/signup">Create account</a>
    </form>
</body>
