<form action="/login" method="post">
    <div class="container" id="new">
        <div class="text-center">
            <img src="/images/poison-large.png" class="img-thumbnail" alt="Poison" width=200 height=200>
        </div>
        <label for="uname"><b>Username(email)</b></label>
        <input type="email" placeholder="Enter your email" name="user[email]" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="user[password]" required>
        <button type="submit">Login</button><br><br>
        <a href="/signup" class="text-info">Create account</a>
    </div>    
</form>

