.default{
    background-color: black;
    text-align: center;
    color: white;
}
#welcome{
    background-image: url("../images/lisheng-chang-FvA7zYUVIdA-unsplash.jpg") !important;
}

input[type=email], input[type=password], input[type=date], input[type=text], textarea[id=ingredient], textarea[id=instruction]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.new_container{
    padding: 16px;
    background-color: white;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}
.signuplogin_form{
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    border: 3px solid #f1f1f1;
    background-color: white;
}
