<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
    <div class="col-auto">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email"  aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="col-auto">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>