<form action="/signup" method="post">
    <div class="container" id="new">
        <div class="text-center">
            <img src="/images/poison-large.png" class="img-thumbnail" alt="Poison" width=200 height=200>
        </div>
        <label for="name"><b>name</b></label>
        <input type="text" placeholder="Enter your name" name="user[name]" required>

        <label for="birthday"><b>birthday</b></label>
        <input type="date" placeholder="Enter your birthday" name="user[birthday]" required>

        <label for="uname"><b>Username(email)</b></label>
        <input type="email" placeholder="Enter your email" name="user[email]" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="user[password]" required>

        <label for="psw confrim"><b>Confirm Password</b></label>
        <input type="password" placeholder="password confirmation" name="user[password_confirmation]" required>

        <button class="signuplogin_botton" type="submit">Signup</button>
    </div>
</form>

