<div class="container" id="new">
    
    <div>
        <h1>Welcome to Poison</h1>
        <h4>We've collected over 400 cocktail recipes for you to view.</h4>
        <% if !logged_in? %>
            <h4><a href="/signup" class=link-info>Register now</a> in order to unlock the ability to create your own custom cocktails.</h4>
        <% else %>
            <h4>In order to unlock the ability to create your own custom cocktails.</h4>
        <% end %>
        <h4>Users can save a list of your favorite cocktails as well.</h4>
        <h4>We hope you enjoy your visit and drink responsibly.</h4>
        <h4>Cheers!</h4>
    </div> 
    <div class="text-center">
        <img src="/images/helena-yankovska-7EbGkOm8pWM-unsplash.jpg" class="img-thumbnail" alt="Poison" width=700 height=500>
    </div>
    <br>
    <br>
</div>