<div class="container" id="new">
    <div class="text-center">
        <img src="/images/poison-large.png" class="img-thumbnail" alt="Poison" width=200 height=200>
    </div>
    <div>
        <h1>Welcome to Poison</h1>
        <p>In this website, there are 415 cocktails provided for you. You can view the details of them and try make one out.</p>
        <p>Once you register, you can even create your own cocktails or add exsisting one to your list to modify them.</p>
        <p>I hope you enjoy your visit!</p>
    </div> 
</div>